@import "../Variables/Variables.scss";

/* Loading */
.loading-container {
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    width: 30px;
}

.dot-flashing {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: $darkOrangeColor;
    color: $primaryColor;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
  }
  
  .dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dot-flashing::before {
    left: -50px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: $darkOrangeColor;
    color: $primaryColor;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
  }
  
  .dot-flashing::after {
    left: 50px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: $darkOrangeColor;
    color: $primaryColor;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dotFlashing {
    0% {
      background-color: $darkOrangeColor;
    }
    50%,
    100% {
      background-color: $secondaryColor;
    }
  }
  