@import "../Variables/Variables.scss";

.field-error {
    text-align: center;
    padding-top: 10px;
    color: $errorMessageColor;
}


.loading {
    font-size: $fontSizeL;
    color: $primaryColor;
    animation: blinker 2s linear infinite;
    padding-top: 25%;
    text-align: center;
}

.location-message-container {
  text-align: center;
  padding-top: 25%;
}

@keyframes blinker {
    20% {
      opacity: 0;
    }
  }
