@import "../Variables/Variables.scss";

.field-error {
    text-align: center;
    padding-top: 10px;
    color: $fieldErrorColor;
}

.error-page, .loading{
  @include error-page();
}

.loading {
  animation: blinker 2s linear infinite;
}

.location-message-container {
  text-align: center;
  padding-top: 25%;
}

@keyframes blinker {
    20% {
      opacity: 0;
    }
  }

  @media screen and (max-width: $mobile) {
    .error-page {
      font-size: $fontSizeS;
      padding: 30px;
      padding-top: 10px;
    }
  }
