@import url(https://fonts.googleapis.com/css?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,90&display=swap);
@import url(weather-icons/css/weather-icons.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "../Variables/Variables.scss";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: $fontNormal;
}


body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $orangeColor;
  
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;

}


/* First page */

.weather-box {  
  width: 100%;
  height: 590px;
  max-width: 1000px;
  background-color: $whiteColor;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px;
}

.searchfield-container {
  width: 500px;
  margin: auto;
  margin-top: 220px;
}

.search-field {
  display: flex;
}

.material-icons {
  border: none;
  background-color: $whiteColor;
  border-bottom: 2px solid $greyColor;
}

.search-button {
  color: $greyColor;
  border-bottom: 2px solid $greyColor;
  height: 50px;
  }


::placeholder {
  color: $lightGrey;
  font-weight: $fontMedium;
  padding-left: 30px; 
}

.text-field {
  width: 470px;
  height: 50px;
  border: none;
  border-bottom: 2px solid $greyColor;
  font-size: $fontSizeL;
  text-align: center;
}

.current-position {
  border: none;
  background-color: $whiteColor;
  font-size: $fontSizeS;
  border-bottom: 2px dotted;
}

.use-location{
  text-align: center;
  line-height: 65px;
}

.use-location-text {
  font-size: $fontSizeS;
  line-height: 0px;
}



/* Header */

.weather-box-header{
  display: flex;
  justify-content: space-between;
  height: 25%;
  padding-left: 48px;
}


.city-name {
  font-weight: $fontMedium;
  font-size: $fontSizeL;
  padding-left: 45px;
  color: $greyColor;
  margin: auto;
}

.city-container{
  padding-top: 0px;
  display: flex;
}

.arrow {
  font-size: $fontSizeM;
  border: none;
  color: $greyColor;
  margin: auto;
}

/* Main */
.weather-box-main {
  height: 50%;
  padding: 0px 48px;
}

.current-date {
  font-weight: $fontLight;
  font-size: $fontSizeL;
  padding-bottom: 15px;
  color: $greyColor;
}

.description {
  font-weight: $fontLight;
  font-size: $fontSizeM;
  color: $greyColor;
}

.description:first-letter{
  text-transform:capitalize;
}

.current-weather-container {
  display:flex;
}

.temp-icon {
  display: flex;
}

.temp {
  font-size: $fontSizeXXL;
  color: $lightOrange;
  font-weight: $fontNormal;
  padding-right: 50px;
}
.current-weather-icon {
  font-size: 8em;
  color: $lightOrange;
}

.day-temp {
  display: flex;
}

.day-times{
  @include day-temp();
}

.daily-temp {
  @include day-temp();
}

/* Footer */
.weather-box-footer {
  padding-right: 48px;
  padding-left: 48px;
}

.weather-box-footer-item {
  font-size: $fontSizeL;
  line-height: 1.5;
  color: $greyColor;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.week-temp {
  font-size: $fontSizeXS;
}

.week-day-name {
  font-size: $fontSizeXS;
}

@media screen and (max-width: 600px) {

  /* First Page */
  .weather-box {
    width: 80%;
  }

  .searchfield-container {
    width: 60%;
    text-align: center;
  }

  .current-position {
    border: none;
    background-color: $whiteColor;
    font-size: $fontSizeS;
    border-bottom: 2px dotted;
    line-height: 70px;
  }

  .or-location {
    font-style: italic;
  }

  .use-location-text {
    margin: 0px;
    font-size: 17px;
  }

  .use-location{
    text-align: center;
    line-height: 65px;
    font-size: 15px;
  }

  .current-position {
    height: 50px;
    padding: 0px;
    margin-top: 9px;
    border-bottom: none;
    font-size: $fontSizeS;
    border-bottom: 2px dotted;
  }

  /* .current-position {
    border: none;
    background-color: $whiteColor;
    font-size: $fontSizeS;
    border-bottom: 2px dotted;
  } */
  .text-field {
    width: 160px;
    height: 50px;
    border: none;
    border-bottom: 2px solid $greyColor;
    font-size: $fontSizeL;
    text-align: center;
  }

  /* Header */
  .weather-box-header{
   height: 20%;
    padding-left: 20px;
  }

  
  .city-name {
    font-size: $fontSizeL;
    padding-left: 15px;
  }

  .city-container{
    padding-top: 50px;
  }

  /* Main*/

  .weather-box-main {
    height: 50%;
    padding: 0px 20px;
  }

  .current-date {
    font-weight: $fontNormal;
    font-size: $fontSizeS;
    padding-bottom: 5px;
  }

  .description {
    font-size: $fontSizeS;
  }

  .current-weather-container {
    display:block;
    align-items: center;
  }

  .temp-icon {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .temp {
    font-size: $fontSizeXL;
    font-weight: $fontNormal;
    padding-right: 20px;
  }
  .current-weather-icon {
    font-size: 60px;
  }

  .day-times {
    font-size: 18px;
    padding-left: 0;
    padding-right: 95px;
  }

  .daily-temp {
    font-size: 18px;
  }

  /* Footer */
  .weather-box-footer {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
  }
  
  .weather-box-footer-item {
    font-size: $fontSizeS;
    line-height: 1.2;
    color: $greyColor;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    grid-auto-rows: 55px;
  }
  
  .week-temp {
    font-size: $fontSizeXXS;
  }
  
  .week-day-name {
    font-size: $fontSizeXXS;
  }


}
